<!-- first a div so that the navbar will stay sticky on the page -->
<div class="navbar-sticky">
  <!-- second div so that this can be the position absolute for the child elements of the navbar -->
  <div class="main-navbar">
    <!-- Logo -->
    <div class="logo">
      <%= image_tag 'cafe_logo_white.png', :class => "cafe-logo"%>
      <p class="logo-text">maui, hawai'i</p>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">

      <!-- <a href="" class="navbar-item navbar-link">home</a> -->
      <%= link_to "home", home_path, :class => "navbar-item navbar-link active-tab", data: { content_name: "home" }%>
      <%= link_to "menu", menu_path, :class => "navbar-item navbar-link", data: { content_name: "menu" }%>
      <%= link_to "our story", our_story_path, :class => "navbar-item navbar-link", data: { content_name: "our-story"}%>
      <%= link_to "live music", live_music_path, :class => "navbar-item navbar-link", data: { content_name: "live-music"}%>
      <%= link_to "contact", contact_path, :class => "navbar-item navbar-link", data: { content_name: "contact"}%>
    </div>
  </div>
</div>
